{name, "oauth"}.
{description, "An Erlang OAuth 1.0 implementation"}.
{homepage, "https://github.com/tim/erlang-oauth"}.
{url, {git, "https://github.com/tim/erlang-oauth.git", {branch, "master"}}}.
{authors, ["Tim Fletcher <mail@tfletcher.com>"]}.
{license, "MIT", "License.txt"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
